*{
	margin: 0;
	padding: 0;
}
#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 9999999;
	top: 0;
	left: 0;
	background: rgb(32,35,48);
	opacity: 100%;
	}
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img{
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li{
	padding: 0px 10px;
}
.navbar-nav li a{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover{
	color: #007bff!important;

}
.navbar{
	background: #fff;
	}
.navbar-toggler{
	border:none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*slider*/
#slider
{
	width: 100%;
}
.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5{
	color: #fff;
	font-size: 42px;
}
/*---------------*/
#about{
	padding: 50px;
	padding-bottom: 50px;
	color: #555;

}
#about .btn{
	margin-top: 20px;
	margin-bottom: 20px;
}
.about-content{

	padding-top: 20px;
}
.skills-bar p{
	margin-bottom: 6px;
	font-weight: 
	600;
}
.progress-bar{
	border-radius: 16px;
}
.progress{
	border-radius: 16px!important;
	margin-bottom: 20px;
}
/*------------------------*/
#services{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img11.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef!important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-top: 50px;
}
#services h1{
	text-align: center;
	color: #efefef;
	padding-bottom: 10px;

}
#services h1::after{
	content: '';
	color: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;

}
.services{
	margin-top: 40px;
}
.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 110px;
	width: 100px;
	border:1px solid #fff;
	border-radius: 50%;
}
#services p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
	}
.services .col-md-3:hover{
	background:#007bff;
	transition: 0.7s;
	cursor: pointer;
} 

/*---------------------*/
#team{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
h1{
	text-align: center;
	color: #555!important;
	padding-bottom: 10px;

}
h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.profile-pic .img-box
{
	opacity: :1;
	display: block;
	position: relative;
}
.profile-pic .img-box img
{	
	height: 200px;
	width: 200px;
	filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}
.profile-pic h3
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
}
#team .fa
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px;
	border-radius: 50%;
}
.img-box ul
{
	padding: 15px 0;
	z-index: 2;
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	opacity: 0;

}
.img-box ul li
{
	padding: 5px;
	display: inline-block;
}
.img-box:hover ul
{
	opacity: 1;
}
.img-box ul, .img-box li
{
	transition: 0.5s;
}
/*--------------------------*/
#promo
{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/img22.jpg);
	background-size: cover;
	background-position: center;
	color: #fff;
	background-attachment: fixed;
	text-align: center;
	padding: 100px;
	font-family: sans-serif;
	font-size: 38px;
}
#price .btn
{	
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box,border-box;

}
#price {
margin: 100px;
text-align: center;
color: #fff;	
	}
#testimonials
{
	padding-top: 50px;
	padding-bottom: 50px;
}
#contact
{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
.contact-form{
	padding: 15px;
}
.form-control
{
	border-radius: 0!important;
	border:none!important;
	}
::placeholder{
	color: #999!important;
}
.follow{
	background: #fff;
	padding: 10px;
	margin: 15px;
	}
.contact-info .fa
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}
#footer
{background:#333;
	color:#fff;
	padding:12px;
}
.fa-heart-o
{
margin: 3px;
color: red;

}